html, body{
  background-color: rgb(218, 214, 214);
}
.titleContainer{  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
  
}
.title{
  text-align: center;
}

.btn{
  margin: 1px;
}