html,
body {
  background-color: rgb(255, 255, 255);
}
.titleContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
}
.title {
  text-align: center;
}

.btn {
  margin: 1px;
}

.loginbody {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}
.addbtn {
  margin-left: 10px;
}
